<!-- Launches ros_img_processor and two image windows-->

<launch>
	<!-- User arguments -->
	<arg name="robot_sim" 	 default="true"/>
	<!-- Gazebo params -->
	<arg name="paused" 			 default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" 				 default="true"/>
	<arg name="headless" 		 default="false"/>

	<arg name="video_device" default="/dev/video1"/>
	<arg name="show_image"   default="true" />
	<arg name="max_steps"    default="0.05" />
	<arg name="exec_freq"    default="10" />
	<arg name="name" 		     default="delta_robot"/>

	<arg name="arduino"      default="true" doc="Specify whether the arduino board is connected or not."/>
	<arg name="port" 				 default="/dev/ttyACM0"/>
	<arg name="baud" 				 default="57600"/>

	<!-- Load the URDF to the parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find delta_robot_support)/urdf/delta_robot.urdf'" />

<!--
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="false"/>
		<rosparam param="source_list">[delta_robot/joint_states]</rosparam>
	</node>
-->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<!-- Convert joint states to /tf tranforms -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<!-- Load all available controllers -->
  <rosparam file="$(find delta_robot_support)/config/controllers.yaml" command="load"/>
	<!-- Load controller manager -->

	<node ns="delta_robot" name="controller_spawner"
				pkg="controller_manager"
				type="spawner"
				respawn="false"
				output="screen"
				args="delta_joint_state_controller delta_position_trajectory_controller"/>

	<!-- camera capture -->
	<node name="usb_cam"
				pkg="usb_cam"
				type="usb_cam_node"
				output="screen" >
		<param name="video_device" value="$(arg video_device)" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
	</node>

	<!-- Provides rectified image, given raw image and camera info -->
	<node name="image_proc"
				pkg="image_proc"
				type="image_proc"
				ns="usb_cam"
				output="screen"
				respawn="true" >
	</node>

	<!--Processor-->
	<node name="delta_img_processor"
				pkg="delta_robot_img_processor"
				type="delta_robot_img_processor_node"
				output="screen"
				args="1">
		<remap from="/delta_img_processor/image_in" to="/usb_cam/image_rect_color"/>
		<remap from="/delta_img_processor/camera_info_in" to="/usb_cam/camera_info"/>
	</node>

  <!--driver-->
	<node name="delta_robot_drivers"
				pkg="delta_robot_drivers"
				type="delta_angles_streamer_node"
				output="screen"
				args="">
	</node>
	<!-- Load hardware interface real -->
  <node ns="delta_robot" name="delta_robot_driver_hw"
				pkg="delta_robot_drivers"
				type="delta_hw_driver_node"
        output="screen"
				launch-prefix=""/>

	<!-- display in/out image -->
	<group if="$(arg show_image)">
		<node
			name="image_view_raw"
			pkg="image_view"
			type="image_view"
			respawn="false"
			output="screen">
			<remap from="image" to="/usb_cam/image_raw"/>
			<param name="autosize" value="false" />
		</node>
		<node
			name="image_view_out"
			pkg="image_view"
			type="image_view"
			respawn="false"
			output="screen">
			<remap from="image" to="/delta_img_processor/image_out"/>
			<param name="autosize" value="false" />
		</node>
	</group>

	<group if="$(arg arduino)">
		<node ns="delta_robot" name="arduino_node"
				  pkg="rosserial_python"
					type="serial_node.py"
					output="screen">
			<param name="~port" value="$(arg port)" />
	    <param name="~baud" value="$(arg baud)" />
		</node>
	</group>


	<!-- Load the simulation environment -->
<!--
	<group if="$(arg robot_sim)">
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find delta_robot)/world/delta_robot.world"/>
			<arg name="debug" value="false" />
			<arg name="gui" value="$(arg gui)" />
			<arg name="paused" value="$(arg paused)"/>
			<arg name="use_sim_time" value="$(arg use_sim_time)"/>
			<arg name="headless" value="$(arg headless)"/>
		</include>
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"  args="-urdf -model delta_robot -param robot_description"/>
	</group>
-->
	<!-- rviz
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find delta_robot_support)/config/delta.rviz"/>
-->
 <!--
	<node name="rviz" pkg="rviz" type="rviz" args="" required="true" />
 -->
</launch>
